$user-border: solid 1px black;
$name-color: skyblue;

.user-cards {
  margin-left: 10px;
}

.user-container {
  display: inline-block;
  margin: 10px;
  width: 200px;
}

.user-name {
  border-left: $user-border;
  border-right: $user-border;
  border-top: $user-border;
  background-color: $name-color;
  color: white;
  line-height: 40px;
  text-align: center;
}

.user-field {
  line-height: 25px;
}

.user-field-container {
  border-bottom: $user-border;
  border-left: $user-border;
  border-right: $user-border;
  padding: 10px;
}
