$user-field-border: solid 1px black;
$name-color: skyblue;

.user-container {
  display: inline-block;
  margin: 10px;
  width: 200px;
}

.user-name {
  border: solid 1px $name-color;
  background-color: $name-color;
  color: white;
  line-height: 40px;
  text-align: center;
}

.user-field {
  line-height: 25px;
}

.user-field-container {
  border-bottom: $user-field-border;
  border-left: $user-field-border;
  border-right: $user-field-border;
  padding: 10px;
}
