<div class="user-container">
    <div class="user-name"><strong ng-bind="user.name"></strong></div>
    <div class="user-field-container">
        <div class="user-field">
            <span>Email: </span>
            <span ng-bind="user.email"></span>
        </div>
        <div class="user-field">
            <span>Phone: </span>
            <span ng-bind="user.phone"></span>
        </div>
        <div class="user-field">
            <span>City: </span>
            <span ng-bind="user.city"></span>
        </div>
        <div class="user-field">
            <span>State: </span>
            <span ng-bind="user.state"></span>
        </div>
    </div>
</div>