<div class="user-container">
    <div class="user-name"><strong ng-bind="name"></strong></div>
    <div class="user-field-container">
        <div>
            <span>Email: </span>
            <span ng-bind="email"></span>
        </div>
        <div>
            <span>Phone: </span>
            <span ng-bind="phone"></span>
        </div>
        <div>
            <span>City: </span>
            <span ng-bind="city"></span>
        </div>
        <div>
            <span>State: </span>
            <span ng-bind="state"></span>
        </div>
    </div>
</div>