doctype html
html(data-ng-app="app")
    head
        link(rel="stylesheet" type="text/css" href="bower/normalize.css/normalize.css")
        link(rel="stylesheet" type="text/css" href="bower/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" type="text/css" href="content/css/site.css")
        link(rel="stylesheet" type="text/css" href="content/css/jcUserCard.css")
        link(rel="stylesheet" type="text/css" href="content/css/jcGrid.css")

    body(ng-controller="indexController as vm")
        jc-dropdown(class="dropdown" items="vm.items" on-select="vm.onDropdownSelect")
        div.margin-left-22
            button.btn.btn-default.btn-sm(type="button" ng-click="vm.indexService.onCardClick()")
                span.glyphicon.glyphicon-th-large
                span.margin-left-4 Card
            button.btn.btn-default.btn-sm.margin-left-12(type="button" ng-click="vm.indexService.onGridClick()")
                span.glyphicon.glyphicon-th-list
                span.margin-left-4 Grid
        section.container.margin-left-12(ng-show="vm.indexService.showCards")
            div.row
                div.col-sm-12.col-md-12.col-lg-12
                    jc-user-card(ng-repeat="user in vm.userService.users" user="user")
        section.margin-left-22(ng-show="vm.indexService.showGrid")
            br
            jc-grid(columns="vm.indexService.gridColumns" rows="vm.userService.users")

    script(type="text/javascript" src="bower/jquery/dist/jquery.js")
    script(type="text/javascript" src="bower/angular/angular.js")
    script(type="text/javascript" src="bower/angular-ui-router/release/angular-ui-router.js")
    script(type="text/javascript" src="scripts/app.js")
    script(type="text/javascript" src="scripts/jcDropdown.js")
    script(type="text/javascript" src="scripts/jcDropdownController.js")
    script(type="text/javascript" src="scripts/jcGrid.js")
    script(type="text/javascript" src="scripts/jcGridController.js")
    script(type="text/javascript" src="scripts/jcUserCard.js")
    script(type="text/javascript" src="scripts/indexController.js")
    script(type="text/javascript" src="scripts/indexService.js")
    script(type="text/javascript" src="scripts/userService.js")
    script(type="text/javascript" src="scripts/templates.js")